USE [master]
GO
/****** Object:  Database [apartmentDB]    Script Date: 16/01/2020 21:58:25 ******/
CREATE DATABASE [apartmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'apartmentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\apartmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'apartmentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\apartmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [apartmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [apartmentDB]
GO
/****** Object:  Table [dbo].[vehicle]    Script Date: 16/01/2020 21:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle](
	[vehicle_registration_number] [int] IDENTITY(1,1) NOT NULL,
	[owner_name] [nchar](50) NULL,
	[owner_phone_number] [smallint] NULL,
	[owner_unit_number] [nchar](10) NULL,
	[owner_appartement_number] [nchar](10) NULL,
	[vehicle_make] [nchar](20) NULL,
	[vehicle_model] [nchar](10) NULL,
	[vehicle_color] [nchar](10) NULL,
	[registration_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_registration_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
